<!DOCTYPE html>
<html>
<head>
  <title>Curso Vue.js</title>
</head>
<body>
  <div id="app">
    <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
    <p>Tu nombre en mayúscula es: {{ nombre | uppercase }}</p>

    <form @submit.prevent="submit">
      <h2>¿Cuales son tus cursos favoritos?</h2>
      <input type="checkbox" v-model="cursos" id="vue" value="vue">
      <label for="vue">Curso de Vue.js</label>
      <input type="checkbox" v-model="cursos" id="seo" value="seo">
      <label for="seo">Curso de SEO</label>
      <input type="checkbox" v-model="cursos" id="react" value="react">
      <label for="react">Curso de React</label>
      <input type="checkbox" v-model="cursos" id="elixir" value="elixir">
      <label for="elixir">Curso de Elixir</label>
      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        nombre: '',
        cursos: []
      },
      filters:{
        uppercase:  (str) => {
          return str.toUpperCase()
        }
      },
      methods: {
        submit:function () {
          console.log('Se ejecuto el metodo submit.');
          console.log(this.cursos);
        }
      }
    })
  </script>
</body>
</html>
